<button mat-button [matMenuTriggerFor]="itemMenu" [ngClass]="'mat-menu-item-submenu-trigger'">{{startMenuItem.description}}</button>
<mat-menu #itemMenu="matMenu">
  <ng-container *ngFor="let childItem of startMenuItem.children">
     <ng-container
      *ngTemplateOutlet="recursiveMenuTmpl; context: { $implicit: childItem}">
    </ng-container>
  </ng-container>
</mat-menu>

<ng-template #recursiveMenuTmpl let-parentItem>
  <ng-container *ngIf="parentItem.children">
    <ng-container *ngTemplateOutlet="menuItem; context: { $implicit: parentItem}"></ng-container>
  </ng-container>
  <ng-container *ngIf="!parentItem.children">
    <ng-container *ngTemplateOutlet="singleItem; context: { $implicit: parentItem}"></ng-container>
  </ng-container>
</ng-template>

<ng-template #menuItem let-rootItem>
  <button mat-button [matMenuTriggerFor]="itemMenu" [ngClass]="'mat-menu-item mat-menu-item-submenu-trigger'" aria-haspopup="true" role="menuitem">{{rootItem.description}}</button>
  <mat-menu #itemMenu="matMenu">
    <ng-container *ngFor="let childItem of rootItem.children">
       <ng-container
        *ngTemplateOutlet="recursiveMenuTmpl; context: { $implicit: childItem}">
      </ng-container>
    </ng-container>
  </mat-menu>
  </ng-template>

<ng-template #singleItem let-item>
  <button *ngIf="item.route" mat-button [routerLink]="item.uri" [ngClass]="'mat-menu-item'" >{{item.description}}</button>
  <button *ngIf="!item.route" mat-button (click)="onOpenUrl(item.uri)" [ngClass]="'mat-menu-item'">{{item.description}}</button>
</ng-template>


